.footerLive {
    background: #043356;
    position: relative;
    z-index: 11;
    margin: 0 -15px;
}
.footerLive .footer-big {
    padding: 40px 0 20px 0;
}
.footerLive .footer-big .blockFooter {
    display: flex;
    justify-content: space-between;
}
.footerLive .footer-big .blockFooter .sousBlockFooter {
    width: 19%;
}
.footerLive .footer-big .blockFooter .sousBlockFooter .footer-widget {
    margin-bottom: 40px;
}
.footerLive .footer-big .blockFooter .sousBlockFooter .footer-widget .widget-about img {
    margin-top: 9px;
}
.footerLive .footer-big .blockFooter .sousBlockFooter .footer-widget .widget-about .contact-details {
    margin: 30px 0 0 0;
}
.footerLive .footer-big .blockFooter .sousBlockFooter .footer-widget .widget-about .contact-details li:last-child {
    margin-bottom: 0;
}
.footerLive .footer-big .blockFooter .sousBlockFooter .footer-widget .widget-about .contact-details li a {
    color: #47a99e !important;
}
.footerLive .blockFooter .sousBlockFooter .footer-widget .footer-menu--1 {
    width: 100%;
}
.footerLive .blockFooter .sousBlockFooter .footer-widget .footer-menu .footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}
.footerLive .footer-big .blockFooter ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    width: 100%;
    list-style: none;
}
.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li {
    color: #d0d0d0 !important;
}
.MobileFooter {
    display: none;
}



@media (min-width: 300px) and (max-width: 767px){
    .footerLive {
        width: 100%;
        margin: 0;
    }
    .MobileFooter {
        display: block;
    }
    .footerLive .footer-big .MobileFooter .accordion {
        background-color: #043356;
        color: #fff;
        cursor: pointer;
        border-bottom: 1px solid white;
        padding: 15px;
        border-top: none;
        border-left: none;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        margin-bottom: 10px;
    }
    .footerLive .footer-big .MobileFooter .card {
        background-color: #043356;
        color: white;
        border-bottom: 1px solid rgb(199 199 199 / 13%) !important;
    }
    .footerLive .footer-big .MobileFooter .card .card-header {
        padding: 0.75rem 0 !important;
        background-color: rgb(4 51 86) !important;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .footerLive .footer-big .MobileFooter .card .card-header .btn-link {
        font-weight: 600;
        color: white !important;
        text-decoration: none;
    }
    .footerLive .footer-big .MobileFooter .card .collapse {
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .footerLive .footer-big .MobileFooter .card .blockFooter ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0;
        padding: 0;
        max-width: 500px;
        width: 100%;
        list-style: none;
    }
    .footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li {
        color: #d0d0d0 !important;
    }
    .imgBlockFooter {
        margin: 0 auto;
        text-align: center;
        padding-top: 15px;
    }
    .footerLive .footer-big .MobileFooter .resauxsociaux {
        text-align: center;
        margin: 20px auto;
    }
    .footerLive .footer-big .MobileFooter .resauxsociaux a img {
        width: 30px;
        padding: 2px;
        margin: 0 6px;
    }
    .footerLive .footer-big .MobileFooter .element8 {
        display: grid;
        text-align: center;
    }
    .footerLive .footer-big .MobileFooter .element8 a {
        color: #FFFFFF !important;
        padding-bottom: 10px;
    }
    .desktopFooter {
        display: none;
    }
}
