.navModife{
    width: 100%;
}
.navbar {
    height: 115px;
    position: fixed !important;
    top: 0;
    z-index: 99;
}
.navModife {
    background: #023356;
    color: #ffffff !important;
    border-bottom: 1px solid #7070706e;
    padding: 0 !important;
    display: block !important;
}
.logoModife {
    width: 138px;
}
.logoModife img {
    width: 100%;
    height: auto;
}
.navbar-nav {
    align-items: center;
}
.navbar-nav li {
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.nav-link {
    color: #ffffff !important;
    margin: 0 10px !important;
    font-weight: 500;
    font-size: 14px;
}
.activeModalHeader {
    background: #ffffff00;
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 115px;
    left: 0;
    display: none;
}
.TextZorg {
    margin-bottom: 6px;
}
.dropdown-menu-custom {
    position: absolute !important;
    width: 95%;
    top: 1px;
    background: white !important;
    padding: 20px 0px;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 15px;
    height: fit-content;
    left: 0;
    right: 0;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}
.modal {
    padding-right: 0px !important;
    overflow-y: hidden !important;
}
.blockdropdownnHeader{
    display: flex;
    padding: 0 0px 0 18px;
}
.blockdropdownnHeader ul:first-child{
    width: 20%;
    border-right: 1px solid black;
    margin: 0 2% 0px 0;
}
.blockdropdownnHeader .secondUlModal{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.blockdropdownnHeader .secondUlModal li{
    width: 25%;
    padding: 0 15px;
}
#voorOpleidersModal{
    width: fit-content;
    min-width: 585px;
    top: 115px;
    right: 210px;
}
#voorOpleidersModal .blockdropdownnHeader {
    justify-content: center;
}
#voorOpleidersModal .blockdropdownnHeader ul:first-child {
    width: fit-content;
    border-right: 1px solid black;
    margin: 0 2% 0px 0;
    padding-right: 30px;
}
#voorOpleidersModal .blockdropdownnHeader .secondUlModal {
    display: block;
    flex-wrap: unset;
    width: fit-content;
}
#voorOpleidersModal .blockdropdownnHeader .secondUlModal li {
    width: 100%;
    padding: 0 15px;
}
#OpleidingenModal {
    width: 70%;
    margin: 0 auto;
    z-index: 99999;
    height: auto;
    left: 415px;
    top: 115px;
}
#OpleidingenModal .blockdropdownnHeader .secondUlModal li {
    width: 27%;
    padding: 0 15px;
}
#OpleidingenModal .blockdropdownnHeader ul:first-child {
    width: 30%;
}
.blockdropdownnHeader ul li a{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 18px;
    padding: 7px 9px 9px;
}
.blockdropdownnHeader ul li a:hover{
    background: #E0EFF4;
}
.blockdropdownnHeader ul li:last-child a{
    margin-bottom: 0px;
}
.blockdropdownnHeader ul li a .blockImg{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    text-align: center;
    /* border-radius: 100%; */
    overflow: hidden;
    /* background: #e0eff4; */
    /* border: 1px solid #b5dad6; */

}
.blockdropdownnHeader ul li a .blockImg img{
    width: 100%;
    margin-top: 0;
    height: 100%;
    object-fit: cover;
}
.subtitleSousElementHeader{
    color: #043356;
    font-size: 14px;
    margin-bottom: 0;
}
form {
    position: relative;
}
.searchInputHedear input{
    color: #707070;
    border: none;
    padding: 5px 10px;
    width: 100%;
    background: white;
    border-radius: 13px;
    font-size: 14px;
    margin: 25px 0px 10px;
}
.searchInputHedear input::placeholder{
    color: #707070;
}
.headerDrop{
    left: 0;
    width: 100%;
}

.dropdown-menuSearch{
    display: none !important;
    position: absolute;
    left: 30px;
    background: white;
    color: #043356;
    width: 91%;
    text-align: left;
    padding: 20px 0px;
    z-index: 99;
    top: 36px;
    border-radius: 15px;
    font-size: 16px;
}
.voorBlock .dropdown-menuSearch {
    width: 40%;
    left: 115px;
    top: 52px;
}
.hasNoResults{
    margin-left: 30px;
    color: #043356;
} 
.navMobile {
    display: none;
}
.headSousMobilePrincipale {
    display: none;
}
.btnElementSousMenu {
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
    color: #023356;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: none !important;
}
.headSousMobileProfile{
    display: none;
}

#croieProfil{
    display: none;
    padding: 0;
    margin: 4px 0px -4px 3px !important;
}
#profilView{
    display: block;
    padding: 0;
}
#croieProfil img {
    margin-top: -9px;
    width: 15px;
}
.logoMobile{
    display: none;
}
.second-element-mobile{
    display: none;
}
#croieSearch{
    display: none;
    margin-top: -7px;
    width: 19px;
    padding: 0 !important;
    margin-right: 10px;
}
#croieSearch img{
    width: 100%;
}
#burgerCroie{
    display: none ;
}
.searchInputHedear{
    display: none;
}
.headSousMobilePrincipale{
    display: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.nav-link {
    font-size: 15px;
}
.navbar-nav li {
    position: relative;
}
.navModife4:focus {
    outline: 0;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.navModife {
    background: #023356;
    color: #ffffff !important;
    border-bottom: 1px solid #7070706e;
    padding: 0 !important;
}
.worden {
    background: #00A89D;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 15px !important;
    margin: 0 0px !important;
}

.inputSearch {
    min-width: 345px;
    padding-left: 15px;
    font-size: 14px
}
.check-subnnav {
    height: 22px;
}
.btn-contact-sales {
    color: white !important;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px 15px;
    height: fit-content;
}
.block-rating-subnav .fa {
    color: #fff500;
    margin: 0 3px;
}
.block-rating-subnav  {
    margin: 0 10px;
}
.iconSubnav {
    height: 23px;
    margin: 0 5px;
}
.sub-navbar {
    padding: 13px 0 11px;
}
.flag-img-nav {
    height: 15px;
    margin-left: -13px;
    margin-top: 2px;
}
.language-selector-custom select{
    padding: 1px 5px !important;
    background: none !important;
    border: unset !important;
    color: white !important;
    box-shadow: none;
    margin-bottom: 0;
}
.language-selector-custom select:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.language-selector-custom .active{
    display: block;
}

.headerdashboard, .navModife .btn-contact-sales {
    color: #043356 !important;
}
.headerdashboard, .navModife .block-rating-subnav .fa, .number-rating-header {
    color: #00a89d;
}
.sub-nab-base{
    padding: 13px 0 18px;
}

@media all and (min-width: 300px) and (max-width: 767px){
    .dropdown-menuSearch {
        left: 0;
        width: 100%;
    }
    .dropdown-menuSearch {
        left: 0;
        width: 100%;
    }
    .navMobile {
        display: block;
        background: #023356;
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
        padding: 15px 15px 8px !important;
        height: auto !important;
    }
    .navMobile-custom{
        padding: 0px 0 8px !important;
    }
    .ProfilGraduatioBlock {
        align-items: center;
        margin-top: -7px;
        display: flex;
        justify-content: space-between;
    }
    .navMobile-custom .ProfilGraduatioBlock {
        padding: 0px 15px!important;
    }
    .sousNav1 {
        display: flex;
        width: 30%;
    }
    .first-element-mobile {
        width: 43px;
    }
    #profilView {
        display: block;
        padding: 0;
    }
    .boxImgNav2 {
        width: 32px;
        padding-top: 1px;
        position: relative;
    }
    .notification {
        top: -10px !important;
        right: -8px !important;
        position: absolute;
        width: 15px;
        height: 15px;
        background: #DE5A5A;
        color: #FFFFFF;
        border-radius: 100%;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    .logoMobile{
        width: 35px !important;
        margin: 0 auto;
        display: block;
    }
    .logoMobile img{
        width: 100%;
    }
    .sousNav3 {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .second-element-mobile {
        width: 25px;
        display: block;
    }
    #searchIcone {
        margin-top: 0px !important;
        width: 22px !important;
        padding: 0 !important;
        height: 22px;
    }
    #searchIcone img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .boxSousNav3-2 {
        width: 28px;
        padding: 0 !important;
    }
    #burgerCroie {
        height: 35px;
        width: 21px;
        padding: 0 !important;
        margin-top: 0px !important;
    }
    #burgerCroie img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .searchInputHedear {
        margin-top: 0px !important;
    }
    .sousMenuNavMobil {
        top: 48px !important;
        padding-top: 10px;
        width: 100%;
        float: right;
        background: #E0EFF4;
        position: fixed;
        z-index: 999999999;
        right: 0;
        min-height: 100vh;
        overflow-y: scroll;
    }
    .body-custom .sousMenuNavMobil{
        top: 120px !important;
        overflow-y: scroll;
        position: fixed;
        height: 90%;
        min-height: unset;
    }
    .elementGroupGroeien {
        margin-bottom: 20px;
    }
    .btnElementSousMenu{
        padding: 0;
        display: flex;
        width: 100%;
        position: relative;
        color: #023356;
        font-size: 15px;
        justify-content: space-between;
        margin-bottom: 7px;
        text-transform: none !important;
    }
    .btnElementSousMenu img{
        width: 11px;
        float: right;
    }
    .navMobile-custom {
        padding: 0px 0 8px !important;
    }
    .headerdashboard .sub-navbar{
        display: none !important;
    }
    .navbar {
        height: 63px;
    }
    .navWeb {
        display: none !important;
    }
}

@media screen and (max-width: 1079px) and (min-width: 768px){
    .first-element-mobile {
        width: 43px;
    }
    .sousNav1 {
        display: flex;
        width: 30%;
    }
    .notification {
        top: -8px;
        position: absolute;
        width: 15px;
        height: 15px;
        background: #DE5A5A;
        color: #FFFFFF;
        border-radius: 100%;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    .logoMobile {
        width: 35px !important;
        margin: 0 auto;
        display: block;
    }
    .logoMobile img {
        width: 100%;
    }
    .second-element-mobile {
        display: block;
        width: 25px;
    }
    .second-element-mobile .croie {
        margin-top: 0;
        width: 28px;
        padding: 0 !important;
    }
    .searchInputHedear {
        margin-top: 0px !important;
    }
    .sousMenuNavMobil {
        top: 66px !important;
        padding-top: 10px;
        width: 100%;
        float: right;
        background: #E0EFF4;
        position: fixed;
        z-index: 999999999;
        right: 0;
        min-height: 100vh;
        overflow-y: scroll;
    }
    .btnElementSousMenu img {
        width: 11px;
        float: right;
    }
    .btnElementSousMenu {
        padding: 0;
        display: flex;
        width: 100%;
        position: relative;
        color: #023356;
        font-size: 15px;
        justify-content: space-between;
        margin-bottom: 7px;
        text-transform: none !important;
    }
    .navMobile-custom{
        top: 126px !important;
    }

}