#ccnSearchOverlayWrap {
    display: none;
}

.inner_page_breadcrumb {
    display: none;
}

#ccn-main-region .container {
    max-width: unset;
}
.respMenu li a {
    color: #0a0a0a !important;
}

.contentDashboardTeacher {
    padding-top: 25px;
    background: #dfeef3;
}

.elementTextDashboard a span {
    color: #023356;
    font-size: 16px;
}

ul.sub-menu li a {
    color: #0a0a0a !important;
}

/*
#ccn-main-region {
    padding-top: 0;
    padding-bottom: 30px;
}*/

.elementTextDashboard .active {
    font-weight: bold;
}

.elementTextDashboard a span:before {
    font-size: 23px;
    margin-right: 15px;
}

.elementTextDashboard {
    margin-bottom: 15px;
}
.sidBarDashboard {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 9%);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 9%);
    width: 245px;
    height: 100vh;
    position: fixed;
    top: 15px;
    z-index: 0;
    left: 15px;
    padding-left: 5px;
}
.contentDashboardElement {
    background: #dfeef3;
    width: 100%;
    margin-left: 247px;
    padding: 20px;
    min-height: 100vh;
}

.contentDashboardElement2 {
    width: 100%;
}

.contentDashboardElement2 form {
    width: 100% !important;
}
.respMenu li a {
    color: #0a0a0a !important;
}
.contentDashboardTeacher {
    padding-top: unset;
    background: unset;
    margin-left: 0;
    position: relative;
    width: 100%;
}
.contentDashboardElement {
    margin-left: 0;
    padding: 15px;
}
.cardCoursGlocal {
    width: 100%;
    margin-left: 0;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardCours {
    width: 24%;
    background: #FFF;
    padding: 43px 20px 30px;
    height: 135px;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.cardCours:last-child {
    margin-right: 0px;
}
.cardCoursManagerGlocal {
    display: flex;
    flex-wrap: wrap;
}

.cardBlockManager {
    display: flex;
    flex-wrap: wrap;
}
.deworkforce {
    color: #0e1851;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}
.cardCoursGlocal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 100%;
    margin-top: 0px;
    align-content: baseline;
    padding-top: 5px;
    background: #dfeef3;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
}
.allBlockWorjforce .groupCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.allBlockWorjforce .cardCours .blockImgCardCoursGlobal {
    width: 129px;
    margin-top: -15px;
}

.allBlockWorjforce .cardCours .blockImgCardCoursGlobal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cardCours small {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: #043356;
    font-size: 13px;
    text-decoration: underline;
}
.commingSoonText {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: #043356;
    font-size: 13px;
    text-decoration: underline;
}
.cardCoursManager {
    width: 23%;
    background: #FFF;
    padding: 43px 20px 30px;
    height: 135px;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cardCoursManager small {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: #043356;
    font-size: 13px;
    text-decoration: underline;
}
.blockImgCardCoursGlobal {
    width: 57px;
    margin-top: -4px;
}
.blockImgcardCoursManagerGlobal {
    width: 57px;
    margin-top: -4px;
}
.blockImgcardCoursManagerGlobal img {
    width: 100%;
}
.cardWorkforceblock {
    width: 33%;
    background: #FFF;
    padding: 43px 20px 30px;
    height: 135px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.cardCours2 {
    width: 23.5%;
    background: #FFF;
    padding: 38px 20px 30px;
    height: 100px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}
.workeforceText {
    color: #023356;
    line-height: 18px;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
}
.contentOpleiding {
    display: flex;
    justify-content: space-between;
}
.contentKies-card {
    width: 66%;
}
.kiesBlock {
    background: #FFFFFF;
    padding: 8px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.importBlock2 {
    background: #FFFFFF;
    padding: 8px 0px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 21px;
    margin-left: -21px;
    height: 200px;
    position: relative;
}
.importBlock2 .file-upload {
    font-size: 12px;
}

.importBlock2 .file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #043356;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FFFFFF;
    overflow: hidden;
    margin: 40px 10px 0;
}

.importBlock2 .file-upload .file-select .file-select-button {
    background: #00A89D;
    padding: 0px 10px !important;
    height: 36px;
    line-height: 32px;
    position: absolute;
    bottom: 25px;
    width: 89% !important;
    left: 18px;
    text-align: center;
}

.importBlock2 .file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.importBlock2 .file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.importBlock2 .file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.importBlock2 .file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.importBlock2 .file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.importBlock2 .file-upload .file-select.file-select-disabled:hover {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.importBlock2 .file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.importBlock2 .file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.kiesText {
    font-size: 18px;
    font-weight: 700;
    color: #023356;
    border-bottom: 1px solid #023356;
    padding-left: 20px;
    margin-bottom: 1px;
}
.textOpleiding {
    color: #023356;
    font-weight: 600;
    margin-bottom: 0;
}
.blockImport-doawnload {
    width: 31%;
}
.elementInputImport {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px 0;
}

.elementInputImport .btndoawnload {
    width: 100%;
    font-size: 14px!important;
    padding: 3px 3px 5px!important;
    border-radius: 6px!important;
    font-weight: bold!important;
    background-color: #043356!important;
    border: none!important;
    color: #FFFFFF!important;
}
#uploadFile {
    width: 69%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid #00A89D;
    padding: 5px;
}

.btn-import {
    width: 100%;
    font-size: 14px !important;
    padding: 3px 3px 5px !important;
    border-radius: 6px !important;
    font-weight: bold !important;
    background-color: #00A89D !important;
    border: none !important;
    color: #FFFFFF !important;
}
.importBlock .file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #eee;
    border: 2px solid #ddd;
    text-align: center;
    padding: 10px;
}

.importBlock .file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
}
.contentDetailCourse {
    display: flex;
    justify-content: space-between;
}
.blockOneDetailCourse {
    width: 65%;
}
.btn-box {
    width: 100% !important;
    height: auto !important;
    padding-top: 50px !important;
    padding-bottom: 60px !important;
    background: white !important;
    border-radius: 5px;
    border: none !important;
    box-shadow: unset !important;
    margin-bottom: 15px !important;
    margin-left: 0;
    margin-top: 0;
}
.importText {
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}
.importSpan {
    border: 1px solid #91cee2;
    padding: 4px 68px;
    font-weight: bold;
    font-size: 18px;
    color: #707070;
}
.boxCourse input {
    background-color: #FFF;
    padding: 8px 20px;
    border-radius: 5px;
    color: #2a2a2a;
    border: none;
    width: 100%;
}

.boxCourse input::placeholder {
    color: #2a2a2a;
}


.CustumInputAlleen {
    padding: 20px;
    background: white;
    color: #7f7f7f;
}
.iconeElement {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 9px;
    margin-left: -8px;
}

.iconeElement img {
    width: 26px;
}

.textOnder {
    font-size: 15px;
    font-weight: 700;
    color: #023356;
    margin-top: 20px;
    margin-bottom: 15px;
}
.faPLusModife {
    margin-right: 15px;
}
.ccn_footer_style_1 .footer_middle_area,
.ccn_footer_style_1 .footer_one {
    display: none !important;
}
.btnOnderwerp {
    background: #023356!important;
    color: white!important;
    border-radius: 12px!important;
    font-size: 14px!important;
    width: 100%;
    margin-left: -9px;
    margin-top: 10px;
    margin-bottom: 28px;
    display: flex!important;
    padding: 5px 10px!important;
}

.extensive .btnOnderwerp {
    background: none !important;
    padding: 0 !important;
}

.extensive .btnOnderwerp i {
    display: none;
}

.extensive .textOnder {
    display: none;
}

.extensive .btnOnderwerp span {
    display: none;
}
.btnOnderwerp span {
    color: #FFFFFF !important;
    font-size: 16px;
}
.faPLusModife {
    border-radius: 100%;
    border: 1px solid;
    padding: 2px 3px;
    margin-right: 6px;
}

.trendingTitle {
    font-size: 25px;
    font-weight: bold;
    color: #023356;
    margin-bottom: 15px;
}
.cardKraam {
    background: #fff;
    box-shadow: 0 0 15px #42454d00;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
}

.block-card-ecosysteme {}

.block-card-ecosysteme .row .col-lg-4 .cardKraam2 .headCardKraam img {
    width: 100%;
    opacity: 0.5;
}

.block-card-ecosysteme .row .col-lg-4 .cardKraam2 .headCardKraam {
    background: black;
    position: relative;
}
.blockImgCardCour2 {
    height: 135px;
    overflow: hidden;
    position: relative;
}
.iconAm {
    width: 18px !important;
    height: 11px;
    margin-right: 3px;
    margin-top: 3px;
}
.allBlockWorjforce {
    width: 96.5%;
}
.blockImgCardCoursGlobal img {
    width: 100%;
}
.headCardKraam img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.blockImgCardCour {
    height: 170px;
    overflow: hidden;
    position: relative;
}

.blockgroup7 {
    position: absolute;
    bottom: 0px;
    background: #02335685;
    color: #D6E0DF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.iconeTextKraa {
    display: flex;
}

.sousiconeTextKraa {
    display: flex;
    margin-right: 4px;
}

.icon7 {
    width: 13px!important;
    height: 13px;
    margin-top: 2px;
    margin-right: 1px;
}

.kraaText {
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 0;
    margin-right: 3px;
}

.contentCardProd {
    padding: 20px 15px 30px;
    max-height: 212px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.group8 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.imgTitleCours {
    display: flex;
}

.imgCoursProd {
    width: 25px;
    height: 25px;
    background: #707070;
    border-radius: 100%;
    margin-top: -4px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #b5b5b5;
}

.imgCoursProd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nameCoursProd {
    color: #42454D;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: fit-content;
    width: 70%;
}

.group9 {
    display: flex;
}
.werkText {
    color: #42454D;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.descriptionPlatform {
    color: #42454D;
    font-size: 14px;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.descriptionPlatform p{
    color: #42454D;
    font-size: 14px;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.swiper-slide4 {
    width: 346px !important;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border-bottom: 2px solid rgb(0 0 0 / 10%);
    height: auto !important;
    background: white;
}

.swipSlideEvents {
    width: 215px !important;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border-bottom: 2px solid rgb(0 0 0 / 10%);
    height: auto !important;
}

.iconAm1 {
    height: 15px;
    margin-top: 1px;
    margin-right: 3px;
    width: 12px !important;
}

.btnCloche {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: #FFF !important;
    width: 24px;
    height: 24px;
    border-radius: 100% !important;
    z-index: 10;
    padding: unset !important;
}

.block-treaning {
    margin-bottom: 35px;
}

.online-eveans {
    margin-bottom: 35px;
}

.mobile-menu {
    background: #043356 !important;
}

.blockgeneralPersoo {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.blockPersoo2 {
    display: flex;
    justify-content: space-between;
    width: 65.5%;
    flex-wrap: wrap;
}

.blockAlle {
    width: 32.5%;
}

.blockPersoonlijke {
    width: 72%;
    background: #FFF;
    padding: 10px 0px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    height: 300px;
    position: relative;
}

.blockPersoonlijke2 {
    width: 48.5%;
    background: #FFF;
    padding: 10px 0px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    height: 300px;
}
.headPersoon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 0 20px;
    border-bottom: 1px solid #023356;
}

.titleHeadPersoon {
    color: #023356;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.titleOpleidingstype {
    margin-bottom: 14px;
    width: 100%;
    background: white;
    border-radius: 10px;
    padding-bottom: 15px;
}

.titleOpleidingstype h2 {
    color: #023356;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #043356;
    padding: 15px 15px 6px;
}

.titleCertification {
    color: #023356;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.blockImgName {
    display: flex;
    border-bottom: 1px solid #dfeef3;
    padding: 0 20px 12px;
    align-items: center;
}

.profilImg {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
}

.profilImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Uname {
    color: #023356;
    margin-bottom: 5px;
}

.blockDetailprofil {
    display: flex;
    border-bottom: 1px solid #dfeef3;
    padding: 5px 20px;
    align-items: center;
}

.iconeBlock {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #dfeef3;
    text-align: center;
    align-items: center;
}

.iconeBlock img {
    width: 60%;
    margin-top: 5px;
}

.TextDetail {
    font-size: 14px;
    color: #023356;
    margin-left: 30px;
    margin-bottom: 0;
}

.topElement {
    margin-top: -8px;
}

.flexJusElement {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btnOpwaa {
    background-color: #fc910d;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 8px;
    padding: 2px 15px;
    font-weight: bold;
}

.iconeSetting {
    width: 20px;
}

.btnBekijk {
    width: 94%;
    background: #47a99e;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    text-align: center;
    padding: 11px;
    border-radius: 10px;
    left: 10px;
}

.AllActiviteiten {
    width: 100%;
    background: #FFF;
    padding: 10px 0px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
}

.blockgeneralPersoo2 {
    width: 80%;
    margin: 0 auto;
}

.detailNamePhoto {
    width: 100%;
    background: #FFF;
    padding: 24px 0px 13px;
    border-radius: 7px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    text-align: center;
}

.BlockCertifiation {
    width: 48.5%;
    background: #FFF;
    padding: 15px 20px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
}

.settingDetail {
    position: absolute;
    right: 25px;
    top: 2px;
}

.photoBlock {
    width: 65px;
    height: 65px;
    background: #dfeef3;
    margin: 0 auto 12px;
    border-radius: 100%;
}

.nameTextProfil {
    color: #043356;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.oprichter {
    color: #043356;
}

.elementCertifications {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.textCertification {
    color: #023356;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 14px;
}

.globalCertificationBlock {
    display: flex;
    justify-content: space-between;
}

.ratingElement {
    display: flex;
    justify-content: space-between;
}

.rating-bar {
    width: 30px;
    height: 11px;
    border-radius: 8px;
    background-color: #dfeef3;
    margin-left: 10px;
}

.rating-barActive {
    background-color: #00A89D;
}

.elementCertifications1 .textCertification {
    margin-left: 0;
    width: 66%;
    margin-bottom: 0;
}

.headListeCourse {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #023356;
    padding: 8px 20px;
    align-items: center;
}

.JouwOpleid {
    color: #023356;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.btnNewCourse {
    color: #023356 !important;
    border: 1px solid #023356;
    font-size: 15px;
    padding: 7px 25px;
    margin-bottom: 0;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 10px;
    height: fit-content;
}

.btnNewCourse:hover {
    background: #023356;
    text-decoration: none;
    color: #FFFFFF !important;
}
.btnActiviteit {
    color: #FFFFFF;
    background: #00A89D;
    font-size: 14px;
    padding: 4px 20px;
    margin-bottom: 0;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 10px;
    height: fit-content;
}



.cardListeCourse {
    background: white;
    border-radius: 8px;
}

.activiteit {
    background: #00A89D !important;
    color: #FFFFFF;
}

.zoek {
    color: #023356 !important;
    background: unset !important;
    border: 1px solid #023356;
}

.thOnder {
    width: 15%;
}

.titleTextListe {
    width: 33%;
    font-weight: 400;
    color: #707070;
}

.textTh {
    color: #707070;
}

.elementOnder {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.imgOnboarding {
    width: 180px;
    margin-top: -43px;
}

.imgOnboarding img {
    width: 100%;
}

.imgOnboarding2 {
    width: 115px;
    margin-top: -30px;
}

.imgOnboarding img {
    width: 100%;
}

.workCardBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photoElement {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    left: 10px;
    position: relative;
}

.photoElement img {
    width: 100%;
}
.contentMensendetail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ccn_context_frontend header.ccnHeader1.header-nav.menu_style_home_one {
    display: none !important;
}
#ccn-main-region {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.dropdown-menu-dashboard{
    border-radius: 10px;
    top: 47px;
    left: 20px;
}
.dropdown-menu-dashboard a{
    color: #040404;
}
.dropdown-menu-dashboard a span{
    font-size: 10px;
    background: #e0eff4;
    padding: 2px 8px 3px;
    border-radius: 12px;
}
.big-title {
    font-size: 2.5rem;
    /* background-color: #000000; */
    color: #023356
}


.boxOne {
    height: 90vh;
    background: #043356;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.VoorOrganisaties {
    background: #E0EFF4;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.VoorOrganisaties .gform_button{
    width: 100% !important;
    text-align: center;
    background: #47a99e !important;
    color: #ffffff !important;
}

.wordenBlock {
    padding-top: 170px;
    display: flex;
}

.wordenBlock-2 {
    display: flex;
}

.wordDeBestText {
    font-size: 32px;
    font-weight: bold;
    max-width: 485px;
    line-height: 36px;
    margin-bottom: 4px;
}

.wordDeBestText3 {
    font-size: 32px;
    font-weight: bold;
    max-width: 485px;
    line-height: 36px;
    margin-bottom: 4px;
    color: #FFFFFF;
}

.altijdText {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.searchFront {
    color: #707070;
    border: none;
    padding: 17px;
    width: 910px;
    background: white;
    border-radius: 13px;
    margin-bottom: 10px;
}

.altijdText3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    max-width: 750px;
}

.wordlBtn {
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 35px;
    padding: 6px 45px 6px 20px;
    width: 100%;
}

.wordlBtn2 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 35px;
    padding: 8px 25px 10px 20px;
    width: 197px;
    background: #043356;
}

.featherBlock {
    text-align: center;
}

.featherBlock img {
    width: 50px;
    margin-top: 30px;
}

.meetText {
    color: #42454D;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 20px;
}

.titleTwo {
    text-align: center;
}

.blijenText {
    color: #023356;
    font-weight: bold;
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    max-width: 478px;
    margin-bottom: 6px;
    line-height: 33px;
}

.voorText {
    color: #023356;
    font-size: 16px;
    margin-bottom: 50px;
}

.contentTwo {
    padding: 45px 0px;
    margin-bottom: 70px;
}

.titleTwo {
    margin-bottom: 25px;
}

.imgComponent1 {
    width: 300px;
    margin-top: -100px;
    margin-left: 125px;
}

.imgComponent2 {
    width: 390px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.imgComponent1 img {
    width: 100%
}

.imgComponent2 img {
    width: 100%
}

.boxIconeDow {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
}

.boxIconeDow img {
    width: 100%;
}

.boxImgCard {
    width: 221px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 118px;
}

.boxImgCard img {
    width: 100%;
    height: 100%;
}

.cardModife {
    padding: 30px 20px 2px !important;
    text-align: center;
    border: 1px solid #FFEBEB;
    box-shadow: 0px 0px 20px #9C9FA2;
}

.cardModife3 {
    padding: 30px 20px 2px !important;
    border: 1px solid #FFEBEB;
    box-shadow: 0px 0px 20px #9c9fa2;
    text-align: left;
    max-width: 350px;
    border-radius: 20px;
    height: 450px;
    position: relative;
}

.formDirect {
    display: block;
}

.blockinputDirect {
    display: flex;
    justify-content: space-between;
}

.onzeText {
    font-size: 18px;
    margin-bottom: 15px;
    color: #023356;
}

.titleCard {
    color: #023356;
    font-weight: bold;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 333px;
    margin-bottom: 6px;
    line-height: 33px;
}

.blockButton {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btnCorporates {
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 15px;
    padding: 4px 20px;
    background: #00A89D;
    border-radius: 5px;
    margin-top: -3px;
}

.btnCorporates:hover {
    color: #FFFFFF !important;
}

.MKbText {
    color: #42454D;
    font-size: 15px;
    text-decoration: underline;
}

.titleVoor {
    font-size: 15px;
    line-height: 20px;
}

.contentTree {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    margin-bottom: 40px;
}

.contentTreeFront {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.contentTree2 {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    margin-bottom: 40px;
    margin-top: 90px;
}

.MaakBtn {
    font-weight: bold;
    color: #FFFFFF;
    background: #043356;
    padding: 8px 23px 9px;
    border-radius: 17px;
}
.MaakBtn:hover{
    color: white;
}

.margin4 {
    margin-bottom: 20px;
}

.imgGroup7 {
    width: 330px;
    margin-left: 88px;
    margin-top: -44px;
}

.imgGroup7-2 {
    width: 330px;
    margin-left: 0;
    margin-top: -44px;
}

.boxCards {
    display: flex;
    flex-wrap: wrap;
}

.boxCards2 {
    display: flex;
    flex-wrap: wrap;
}

.cardBleu {
    background: #E0EFF4;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 291px;
    padding: 35px 0 0;
    border-radius: 10px;
}

.cardBleu2 {
    background: #E0EFF4;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 18.5%;
    height: 133px;
    padding: 35px 0 0;
    border-radius: 10px;
    position: relative;
}

.textCardBleu2 {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 14px;
    font-weight: 600;
    color: #023356;
}

.cardBleu img {
    width: 116px;
    margin-left: auto;
    margin-right: auto;
}

.BleuImg1 {
    width: 76px !important;
}

.BleuImg2 {
    width: 150px !important;
    margin-top: 5px;
}

.generalBlock {
    display: flex;
    justify-content: space-between;
}

.oneBlock {
    width: 57%;
}

.textGroei {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 21px;
    color: #023356;
}

.twoBlock {
    width: 46%;
    padding: 10% 45px;
}

.marginElement {
    margin-right: 133px;
}

.contentFour {
    margin-bottom: 40px;
}

.BlockOneFive {
    text-align: left;
    width: 30%;
    padding: 6% 0;
}

.margin2 {
    margin-bottom: 23px !important;
}

.btn-main, .btn-transparent, .btn-small {
    background: #47a99e;
    color: #fff;
    transition: all 0.2s ease;
}

.btn-main:hover, .btn-transparent:hover, .btn-small:hover {
    background: #dd0b0b;
    color: #fff;
}

.btn-solid-border {
    border: 2px solid #47a99e;
    background: transparent;
    color: #242424;
}

.btn-solid-border:hover {
    border: 2px solid #47a99e;
    background: #47a99e;
}

.btn-transparent {
    background: transparent;
    padding: 0;
    color: #47a99e;
}

.btn-transparent:hover {
    background: transparent;
    color: #47a99e;
}

.btn-large {
    padding: 20px 45px;
}

.btn-large.btn-icon i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.btn-small {
    padding: 10px 25px;
    font-size: 12px;
}

.btn-round {
    border-radius: 4px;
}

.btn-round-full {
    border-radius: 50px;
}

.section {
    padding: 75px 20px 30px;
}

.section-sm {
    padding: 70px 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title .title {
    font-size: 50px;
    line-height: 50px;
}

.section-title p {
    color: #666;
    font-family: "Poppins", sans-serif;
}

.subtitle {
    color: #47a99e;
    font-size: 14px;
    letter-spacing: 1px;
}

.overly-2, .bg-counter, .cta-block, .latest-blog {
    position: relative;
}

.overly-2:before, .bg-counter:before, .cta-block:before, .latest-blog:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.text-black {
    color: #242424;
}

.text-color2 {
    color: #c54041;
}

.text-color2 {
    color: #b99769;
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 2.25rem;
}

.text-lg {
    font-size: 3.75rem;
}

.page-wrapper {
    padding: 70px 0;
}

#wrapper-work {
    overflow: hidden;
    padding-top: 100px;
}

#wrapper-work ul li {
    width: 50%;
    float: left;
    position: relative;
}

#wrapper-work ul li img {
    width: 100%;
    height: 100%;
}

#wrapper-work ul li .items-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding-left: 44px;
    padding-top: 140px;
}

#wrapper-work ul li .items-text h2 {
    padding-bottom: 28px;
    padding-top: 75px;
    position: relative;
}

#wrapper-work ul li .items-text h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 3px;
    background: #fff;
}

#wrapper-work ul li .items-text p {
    padding-top: 30px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    padding-right: 80px;
}

.color-two {
    color: #00d747;
}

.color-three {
    color: #9262ff;
}

.color-four {
    color: #088ed3;
}

.bg-about {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 45%;
    min-height: 650px;
    background: url("../images/about/home-8.jpg") no-repeat;
    background-size: cover;
}


/*=================================================================
  Latest Posts
==================================================================*/
.blog-item-content h3 {
    line-height: 36px;
}

.blog-item-content h3 a {
    transition: all .4s ease 0s;
}

.blog-item-content h3 a:hover {
    color: #47a99e !important;
}

.lh-36 {
    line-height: 36px;
}

.pagination .nav-links a, .pagination .nav-links span.current {
    font-size: 20px;
    font-weight: 500;
    color: #c9c9c9;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.pagination .nav-links span.current, .pagination .nav-links a.next, .pagination .nav-links a.prev {
    color: #242424;
}

h3.quote {
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
    padding: 0px 25px 0px 85px;
    margin: 65px 0 65px 0 !important;
    position: relative;
}

h3.quote::before {
    content: '';
    width: 55px;
    height: 2px;
    background: #47a99e;
    position: absolute;
    top: 25px;
    left: 0;
}

.nav-posts-title {
    line-height: 25px;
    font-size: 18px;
}

.latest-blog {
    position: relative;
    padding-bottom: 150px;
}

.mt-70 {
    margin-top: -70px;
}

.border-1 {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*=================================================================
  Single Blog Page
==================================================================*/
.post.post-single {
    border: none;
}

.post.post-single .post-thumb {
    margin-top: 30px;
}

.post-sub-heading {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}

.post-social-share {
    margin-bottom: 50px;
}

.post-comments {
    margin: 30px 0;
}

.post-comments .media {
    margin-top: 20px;
}

.post-comments .media > .pull-left {
    padding-right: 20px;
}

.post-comments .comment-author {
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 500;
}

.post-comments .comment-author a {
    color: #47a99e;
    font-size: 14px;
    text-transform: uppercase;
}

.post-comments time {
    margin: 0 0 5px;
    display: inline-block;
    color: #808080;
    font-size: 12px;
}

.post-comments .comment-button {
    color: #47a99e;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.post-comments .comment-button i {
    margin-right: 5px;
    display: inline-block;
}

.post-comments .comment-button:hover {
    color: #47a99e;
}

.post-excerpt {
    margin-bottom: 60px;
}

.post-excerpt h3 a {
    color: #000;
}

.post-excerpt p {
    margin: 0 0 30px;
}

.post-excerpt blockquote.quote-post {
    margin: 20px 0;
}

.post-excerpt blockquote.quote-post p {
    line-height: 30px;
    font-size: 20px;
    color: #47a99e;
}

.single-blog {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 20px;
}

.blog-subtitle {
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.next-prev .prev-post i {
    margin-right: 10px;
}

.next-prev .next-post i {
    margin-left: 10px;
}

.social-profile ul li {
    margin: 0 10px 0 0;
    display: inline-block;
}

.social-profile ul li a {
    color: #4e595f;
    display: block;
    font-size: 16px;
}

.social-profile ul li a i:hover {
    color: #47a99e;
}

.comments-section {
    margin-top: 35px;
}

.author-about {
    margin-top: 40px;
}

.post-author {
    margin-right: 20px;
}

.post-author > img {
    border: 1px solid #dedede;
    max-width: 120px;
    padding: 5px;
    width: 100%;
}

.comment-list ul {
    margin-top: 20px;
}

.comment-list ul li {
    margin-bottom: 20px;
}
#nav-with-top-bar{
    height: 115px;
}
.btnElementSousMenu {
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
    color: #023356;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: none !important;
}



/*mobile*/
.btnElementSousMenu{
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
    color: #023356;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: none !important;
}
.btnElementSousMenu img{
    width: 11px;
    float: right;
}
.searchFront {
    width: 100%;
    font-size: 14px;
}
.item4 .dropdown-menu {
    position: absolute;
    left: -30px;
    top: 40px;
}
.trendingTitle {
    line-height: 30px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.group9 {
    margin-bottom: 9px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.blockImport-doawnload {
    width: 100%;
}
.kiesText {
    font-size: 16px;
}
.cardCoursGlocal {
    padding-top: 35px;
    justify-content: normal;
}
.cardCoursManagerGlocal {
    padding-left: 15px;
    padding-top: 20px;
}
.cardCours:last-child {
    margin-right: 10px !important;
}
.allBlockWorjforce {
    padding-left: 17px;
    padding-top: 20px;
}
.cardCoursManager {
    width: 47%;
}
.cardCoursManager {
    width: 100%;
}
.cardWorkforceblock {
    width: 100%;
}
.cardWorkforceblock {
    width: 49%;
}
.cardWorkforceblock {
    width: 100%;
}
.cardCours2 {
    width: 48.5%;
    background: #FFF;
    padding: 38px 20px 30px;
    height: 100px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}
.cardCours2 {
    width: 48.5%;
    background: #FFF;
    padding: 38px 20px 30px;
    height: 100px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}
.contentOpleiding {
    display: block;
    justify-content: space-between;
}
.contentOpleiding {
    display: block;
}
.contentOpleiding {
    display: block;
    justify-content: space-between;
}
.contentOpleiding {
    display: block;
}
@media screen and (max-width: 2560px) and (min-width: 1400px) {
    .allBlockWorjforce {
        width: 95%;
    }
}
@media screen and (max-width: 2560px) and (min-width: 1400px) {
    .allBlockWorjforce {
        width: 95%;
    }
}