.blockIconeWidth{
    display: none;
}
.logoDashboard{
    margin-left: 0px !important;
}
#burgerAndbelief{
    display: none !important;
}
#profilDropdown{
    display: block !important;
}
.elementHeaderUser {
    padding-right: 2px;
}
#profilDropdown a{
    color: #043356 !important;
    margin: 0 5px !important;
    font-weight: 500;
    font-size: 14px;
}
.logoMobile img {
    width: 100%;
    margin-left: 4px;
}