[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Mohamed Artikel Pilot Super held omdat software ontwikkelaar geen job titel is
Type=Link
URL=http://localhost/liveLearn-wordpress/wordpressLIvelearn/pilot/
Icon=text-html
